/* 
    Created on : May 16, 2016, 1:35:36 PM
    Author     : greyooi
*/

@import url('../css/normalize.css');
@import url('../css/fontello.css');
@import url('../css/lineicon.css');


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    line-height: 1.25;
    min-height: 100%;
    color: rgba(0,0,0,0.8);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #161616;
}


@media (max-width:699px) {
    html {
        font-size: 12.5px;
    }
}

@media (min-width:700px) and (max-width:1599px) {
    html {
        font-size: 13.5px;
    }
}

@media (min-width:1600px) and (max-width:2099px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:2100px) and (max-width:2399px) {
    html {
        font-size: 18px;
    }
}

@media (min-width:2400px) and (max-width:2699px) {
    html {
        font-size: 20px;
    }
}

@media (min-width:2700px) {
    html {
        font-size: 22px
    }
}

body {
    overflow-x: hidden;
}
.table_responsive {
    overflow-x: auto;
    border: 3px solid rgba(255,255,255,0.2);

    &.report_top {
        border: 3px solid hsla(14,100%,66%,1);
        margin-top: 0.5rem;
    }
}

.previewcontainer {
    position: fixed;
    width: 0;
    height: 0;
    top:1rem;
    right: 1rem;
    z-index: 10;
    display: none;



    > iframe {
        box-sizing: content-box;
        border: 10px solid #ffffff;
        position: absolute;
        right: -5rem;
        top: 0;
        -ms-zoom: 0.5;
        -ms-transform-origin: top right;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0px 75px;
        -o-transform: scale(0.75);
        -o-transform-origin: top right;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: top right;
        transition: all 0.15s ease-out;
        opacity: 0.000001;

        &.called {
            right: 0;
            opacity: 1;
        }

    }
}

.today_report_top table, .generated_report_inner table {
    width: 100%;
    min-width: 640px;


    th, td {
        color: #fff;
    }
    &.table-striped {
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }
        th, td {
            padding: 0.5rem;
            text-align: left;
            border-right: 1px solid rgba(255,255,255,0.2);

            &:nth-of-type(1){
                text-align: center;
            }

            &:nth-last-of-type(1){
                border-right: none;
            }
        }

        thead {
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }

        th {
            vertical-align: bottom;
        }

        td {
            vertical-align: bottom;

            &:nth-last-of-type(1){
                border-right: none;
            }
        }
    }

    th {
        &:nth-last-of-type(1){
            text-align: center;
        }
    }
    td {
        &:nth-last-of-type(1){
            padding: 0;
            vertical-align: middle;
            text-align: center;

            button {
                border: none;
                font-size: 1.25rem;
                vertical-align: middle;
                background: transparent;
                color: #fff;
            }
        }
    }
}

.generated_report_inner table th {
    background: rgba(255,255,255,0.05);
}

.float_item_container {
    position: relative;

    .width_3_10 {
        width: 30%;
        float: left;
    }
    .width_4_10 {
        width: 40%;
        float: left;
    }
    .width_5_10 {
        width: 50%;
        float: left;
    }
    .width_6_10 {
        width: 60%;
        float: left;
    }
}

header {
    height: 5rem;
    background: #161616;
    color: #fff;
    z-index: 2;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &:after {
        height: 1px;
        width: 100%;
        background: #fff;
        opacity: 0.1;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
    }

    > img {
        max-width: 13.75rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    > span.logout {
        right: 0;
        top: 0;
        display: block;
        position: absolute;
        height: 100%;
        color: #fff;
        background-size: 1.25rem;
        flex: none;
        width: 5rem;
        cursor: pointer;
        border-left: 1px solid rgba(255,255,255,0.1);

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 1.5rem;
        }
    }

    > span.search_report {
        right: 5rem;
        top: 0;
        display: block;
        position: absolute;
        height: 100%;
        color: #fff;
        background-size: 1.25rem;
        flex: none;
        width: 5rem;
        cursor: pointer;
        border-left: 1px solid rgba(255,255,255,0.1);

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 1.5rem;
        }
    }

    > span.hid_menu {

        display: none;
        position: absolute;
        height: 100%;
        text-align: center;
        line-height: 5rem;
        font-size: 1.5rem;
        width: 5rem;
        cursor: pointer;
        right: 10rem;
        border-left: 1px solid rgba(255,255,255,0.1);
    }

    > span.hid_menu.called {
        background: transparent url('../img/menu_active.png') 50% 50% no-repeat;
        background-size: 1.25rem;
    }
}
.page_title {
    margin-top: 1.25rem;

}

span.close_menu {

    display: none;
    position: absolute;
    height: 5rem;
    background: transparent;
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
    color: #fff;
    right: 0;
    top: 0;
    width: 5rem;
    cursor: pointer;

}
.side_kick {
    background: #dedede;
    flex: 2;
}

.version b {
    opacity: 0.5;
}
.text_center {
    text-align: center;
}

.full_width_report {
    background: #ff4c15;
}
.block_padding {
    padding: 5rem;
}

.top_bottom_thin_block_padding {
    padding: 2.5rem 5rem;
}

.block_padding_mid {
    padding: 2.5rem 5rem;
}

.today_report_wrap {
    background: #ff4c15;
    position: relative;
}
.today_report_top, .sub_report_top {

    width: 100%;

    .today_date {
        font-size: 1.5rem;
        display: block;
        color: #fff;
        font-weight: bold;
        background: transparent;
        border: none;
        text-align: right;
        width: 100%;

    }

    h2 {

        color: #fff;


        margin-bottom: 0;

        i {
            margin-right: 0.75rem;
            opacity: 0.33;
        }

    }

    .table-responsive > .table {
        background: transparent;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: none;
        backface-visibility: hidden;

    }

    .table > tbody > tr > td {

    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background: rgba(255,255,255,0.1);
    }

    .table-striped > tbody > tr.selected {
        background: hsla(14,100%,45%,1);
    }

    .table-striped > tbody > tr.clickable {
        cursor: pointer;
    }
}
.sub_report_top {
    display: none;
}
.sub_report_top h1 {
    background: url('../img/users.png') left center no-repeat;
    background-size: 35px;
}

.full_height_container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.85);
    height: 100vh;
}

.main_pagefull_height_container {
    margin-top: 5rem;
    margin-left: 15rem;
    position: relative;

    background: #1e1e1e;


}
.background_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    .background {
        position: absolute; top: -10%; left: -10%; 
        width: 120%; height: 120%;
        z-index: 1;
        object-fit: cover;

    }
}
.login {
    max-width: 36.25rem;
    padding: 5rem 6.25rem;
    width: 100%;
    /*background: rgba(255,255,255,0.05);*/
    @include border-radius(0.5rem);
    height: auto;

    .logo_container {
        text-align: center;
        display: block;
        margin-bottom: 1.25rem;

        img {
            display: inline-block;
            vertical-align: top;
            max-width: 220px;
        }
    }

    .each_input_wrap {

        display: flex;
        flex-direction: row;

        transition: all 0.15s ease-in-out;


        i {
            color: #ff4c15;
            padding: 1.5rem 0;
            width: 5rem;
            display: inline-block;
            text-align: center;
            height: 100%;
            font-size: 1.5rem;
            background-color: rgba(255,255,255,0.05);
        }

        input[type='tel'], input[type='text'],input[type='password'],input[type='email'],input[type='date']{
            border: none;
            /*border-bottom: 2px solid rgba(255,255,255,0.1);*/

            background-color: rgba(255,255,255,0.05);
            width: calc(100% - 5rem);
            padding-left: 1.5rem;
            transition: all 0.15s ease-in-out;
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: 200;

            &:focus {
                background-color: rgba(255,255,255,0.1);

            }

        }


    }




    .errorTxt {

    }


    h2 {
        margin-bottom: 10px;
    }

    .btn_wrap {
        margin-top: 50px;
    }
    button {
        border: none;
        padding: 20px 0px;
        cursor: pointer;
        background: #ff4c15;
        color: #fff;
        font-size: 150%;
        width: 100%;
        font-weight: 700;
        @include border-radius(4px);

    }

    button:active {
        background: #ff7220;
    }

    fieldset {
        margin-bottom: 25px;
        position: relative;
    }

    label.error {
        color: #ff0000;
        font-weight: 700;
        padding: 0.25rem 0;
        display: block;
        font-size: 0.9rem;
        width: 100%;



        text-transform: uppercase;

        &:before {
            content: '\e81f';
            color: #fff;
            font-family: "fontello";
            margin-right: 0.5rem;
        }

        &:nth-last-of-type(1){
            padding-bottom: 1.5rem;
        }

    }

    footer {
        margin-top: 2rem;
        border: none;


    }
}
.has_gap_between_block {
    > div {
        width: calc(100% - 0.5rem);

        &:nth-of-type(1){
            margin-right: 1rem;
        }
    }
}


.search_pop {

    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;

    z-index: 3;
    transform: scale(0.95);
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-out;

    .shortcode, .keyword {
        display: none;
    }



    .close_search_pop {
        width: 5rem;
        height: 5rem;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        color: rgba(255,255,255,0.25);
        cursor: pointer;
        transition: all 0.15s ease-out;
        background: transparent;
        border-left: 1px solid rgba(255,255,255,0.05);

        &:hover {
            color: rgba(255,255,255,0.5);
        }
    }

    > div {
        width: 50rem;
        box-shadow: 0 0 10rem rgba(0,0,0,0.5);
        position: relative;
        margin: auto;
    }

    &.called {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    label {
        margin-bottom: 0.5rem;
        display: block;
        opacity: 0.25;
        font-weight: bold;
    }

    input[type='tel'], input[type='text'],input[type='password'],input[type='email'],input[type='date'], select {
        color: #fff;
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .button_wrap {
        background: rgba(0,0,0,0.1);
        border-top: 1px solid rgba(255,255,255,0.05);
    }
}

.filter_container {
    background: #313131;

    color: rgba(255,255,255,0.85);

    h2 {
        margin-bottom: 0;
        background: rgba(0,0,0,0.1);
        line-height: 5rem;
        white-space: nowrap;
        padding-left: 5rem;
        font-size: 1.5rem;
        position: relative;

        &:after {
            content: '';
            height: 1px;
            background: rgba(255,255,255,0.05);
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
        }

    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        padding: 15px 40px 15px 15px;
        width: 100%;
        background-color: #424242;
        background-size: 16px;
        background-position: calc(100% - 15px) 50%;
        background-repeat: no-repeat;
        background-image: url('../img/select_down.png');
        border: 1px solid transparent;
        transition: all 0.15s ease-out;

        &:disabled {
            opacity: 0.33;
        }



    }



    input[type='tel'], input[type='text'],input[type='password'],input[type='email'],input[type='date'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        padding: 15px;
        transition: all 0.15s ease-out;
        background-color: #424242;
        border: 1px solid transparent;


    }

    select:focus, input[type='tel']:focus, input[type='text']:focus,input[type='password']:focus,input[type='email']:focus,input[type='date']:focus {
        background-color: #4d4d4d;
    }

    fieldset {
        margin-bottom: 1rem;
    }
    .date_select {
        fieldset {
            margin-bottom: 0;
        }
    }
    .date_range {
        background: rgba(255,255,255,0.1);

        span {
            border-right: 1px solid rgb(49,49,49);
            font-weight: bold;
            background: #353535;
        }

    }
}
.text_right {
    text-align: right;
}
.button_wrap {


    button {
        border: none;
        background: rgba(255,255,255,0.1);
        padding: 1rem 1.75rem;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        border-radius: 4px;

    }
    button[type="submit"] {
        background: limegreen;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    button[type="reset"]{
        background: none;
        border: 1px solid rgba(255,255,255,0.05);
    }
}



.navigation {
    width: 15rem;
    position: fixed;
    left: 0;
    height: calc(100% - 5rem);
    top: 5rem;
    background: #161616;
    z-index: 1;

    h4 {
        display: none;
    }

    &:after {
        height: 100%;
        width: 1px;
        background: #fff;
        opacity: 0.1;
        right: 0;
        top: 0;
        content: '';
        position: absolute;
    }


    nav > ul > li a {
        display: block;
        
        background: rgba(255,255,255,0.05);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        position: relative;
        padding: 1.5rem;
        color: rgba(255,255,255,0.5);
        transition: all 0.15s ease-out;
        

        i {
            margin-right: 0;
            font-size: 1.5rem;
            vertical-align: middle;
            flex: none;
            display: none;
        }

        span {
            display: flex;
            margin-top: 0.25rem;
            align-items: center;
            font-size: 0.9rem;

        }

        &:after {
            content: '';
            height: 1px;
            width: 100%;
            background: rgba(255,255,255,0.05);
            left: 0;
            bottom: 0;
            position: absolute;
        }
    }

    nav > ul > li a.home {
        background-image: url('../img/report.png');
    }

    nav > ul > li a.dashboard {
        background-image: url('../img/dashboard.png');
    }

    nav > ul > li a.subscriber {
        background-image: url('../img/users.png');
    }

    nav > ul > li a:hover {
        color: rgba(255,255,255,1);
        background: rgba(255,255,255,0.1);
    }
    nav > ul > li a.active {
        color: #fff !important;
        background: #ff4c15 !important;
    }

}

footer {
    border-top: 1px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.33);
    background: #161616;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    vertical-align: middle;
    line-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.ui-datepicker select.ui-datepicker-year {
    margin-right: 0;
}
.generated_report {
    border-top: 1px solid rgba(255,255,255,0.1);
    &.subscriber_report {
        border-top: none;
    }
    .generated_report_inner {


        > div {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .download_report_wrap {
            position: relative;

            .dropdown_download {
                display: none;
                position: absolute;
                background: #2e2e2e;
                right: 0;
                box-sizing: border-box;
                top: 100%;


                li {
                    white-space: nowrap;

                    display: block;

                    a {
                        color: #fff;
                        display: block;
                        padding: 1rem 1.5rem;
                        font-weight: bold;

                        &:hover {
                            background: #333333;
                        }
                    }
                }


            }

            .download_report_button {
                border: none;
                background: transparent;
                padding: 1rem 1rem 1rem 1.5rem;
                color: #fff;
                border: 1px solid rgba(255, 255, 255, 0.1);
                position: relative;

                span {
                    margin-left: 1rem;
                    font-size: 0.7rem;
                    vertical-align: middle;
                    opacity: 0.5;
                }

                &.active {
                    border: 1px solid #333333;
                    background: #333333;


                }

            }
        }
    }

    h2 {
        color: #fff;

    }

    table {
        color: #fff;
    }
}

.ver_title {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    font-weight: bold;


}

.rotate {  
    transform:  translateX(-10%) translateY(-50%) rotate(-90deg);
}

.overlay {
    background: rgba(20,20,20,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-out;
}

.overlay.called {
    visibility: visible;
    opacity: 1;

}
.confirm_logout.called {
    opacity: 1;
    visibility: visible;
    top: 0;
}
.confirm_logout {

    height: calc(5rem - 1px);

    width: 320px;
    position: fixed;
    background: #161616;
    z-index: 4;
    top: -5rem;
    right: 0;

    opacity: 1;
    visibility: hidden;

    transition: all 0.15s ease-out;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0;
        position: relative;
        height: 100%;

    }
    > div > div:last-child {
        flex: 1;
    }
    > div > div:first-child {
        flex: 1;

        text-transform: uppercase;



        > img {
            max-width: 3.125rem;
            vertical-align: top;
            display: inline-block;
        }
    }

    h4 {
        color: rgba(255,255,255,0.3);
        font-size: 1.1rem;
        font-weight: 300;
    }

    .action {



        font-weight: 200;

        button {
            background: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: 1.1rem;
            color: #fff;
            border: none;
            font-weight: 700;
            padding: 2px 25px;

        }
        button:last-child {
        }
        button:first-child {
            border-right: 1px solid red;
        }
    }
}

.flex_justify_left {
    display: flex;
    justify-content: flex-start;
}
.flex_justify_center {
    display: flex;
    justify-content: center;
}

.flex_justify_right {
    display: flex;
    justify-content: flex-end;
}
.flex_align_top {
    display: flex;
    align-items: flex-start;
}
.flex_align_center {
    display: flex;
    align-items: center;
}

.flex_align_bottom {
    display: flex;
    align-items: flex-end;
}

.flex_flow_row {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .flex_1_4 {
        width: 25%
    }

    .flex_2_4 {
        width: 50%;
    }

    .flex_3_4 {
        width: 75%;
    }

    .flex_1_10 {
        width: 10%;
    }
    .flex_2_10 {
        width: 20%;
    }

    .flex_3_10 {
        width: 30%;
    }

    .flex_4_10 {
        width: 40%;
    }

    .flex_6_10 {
        width: 60%;
    }
    .flex_7_10 {
        width: 70%;
    }

    .flex_8_10 {
        width: 80%;
    }

    .flex_9_10 {
        width: 90%;
    }

}

.canvas_line_container {
    height: 400px;
}

@media (max-width: 1100px){
    .canvas_line_container {
        height: 300px;
    }
}
.line_chart_holder {
    position: relative;

    .comparison_year_wrap {
        position: absolute;
        height: 100%;
        max-width: 320px;
        width: 100%;
        right: -100%;
        background: rgba(0,0,0,0.5);
        -webkit-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        -moz-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        -o-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
        top: 0;

        &.called {
            right: 0;
        }
    }
    > div:nth-of-type(1) {
        border-bottom: 1px solid rgba(255,255,255,0.05);
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
    h2 {
        color: #fff;
        i {
            margin-right: 0.75rem;
            opacity: 0.33;
        }
    }
    padding: 6rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    .compare_button {
        color: #ff4c15;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }
    .item_sorter_wrap {
        position: relative;
        display: flex;
        flex-direction: row;

        .item_sorter_label {
            white-space: nowrap;
            border: none;
            background: transparent;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            color: #fff;
            align-items: center;
            position: relative;


            label {
                padding: 0 1rem;
                border: 1px solid rgba(255, 255, 255, 0.1);
                display: flex;
                align-items: center;
                color: rgba(255,255,255,0.33);
                height: 100%;
                border-right: none;
            }


            .year_holder {
                padding: 1rem 1rem 1rem 1.5rem;
                font-size: 1rem;
                display: inline-block;
                font-weight: bold;
                cursor: pointer;
                color: #ffffff;
                border: 1px solid rgba(255, 255, 255, 0.1);

                span.dropdown_icon {
                    margin-left: 1rem;
                    font-size: 0.7rem;
                    vertical-align: middle;
                    opacity: 0.5;
                    color: #fff;
                }

                &.active {
                    background: #333333;
                    border-color: #333333;
                }
            }


        }

        .item_sorter {
            flex: none;
            display: none;
            position: absolute;
            flex: none;
            top: 100%;
            right: 0;
            width: 12rem;
            z-index: 1;
            padding: 0;
            background: #2e2e2e;

            button {
                padding: 1rem 1.5rem;
                border: none;
                background: transparent;
                color: rgba(255,255,255,0.33);
                font-size: 1rem;
                transition: all 0.15s ease-out;
                font-weight: bold;
                display: block;
                width: 100%;
                text-align: left;



                &.active, &:hover {
                    background: #333333;
                    color: #fff;
                }
            }
        }
    }

    canvas {

    }


}
.chart_holder {
    position: absolute;
    width: 40%;
    background: url('../img/dot_pattern.png') 50% 50% fixed;
    top:0;
    right: 0;
    overflow: hidden;


}

@media (max-width : 1200px) {
    .block_padding {
        padding: 3rem;
    }
    .line_chart_holder {
        padding: 3rem;
    }

    .block_padding_mid {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .today_report_top_chart_wrap {
        > .flex_flow_row {
            //flex-direction: column;

            > div {
                width: 50%;
            }
        }


    }
    .main_pagefull_height_container {
        display: block;
        margin-left: 0;
    }

    .date_range {
        width: 100% !important;

        position: relative;
        margin-bottom: 15px;

        > div {
            position: relative !important;
        }
    }
    span.close_menu {
        display: block;
    }
    header span.hid_menu {
        display: block;
    }

    .navigation {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100%;
        width: 320px;
        z-index: 2;
        top: 0;
        flex-direction: row;
        visibility: hidden;
        left: -320px;
        transition: all 0.15s ease-out;

        h4 {
            flex: none;
            color: rgba(255,255,255,0.15);
            position: absolute;
            left: 1.5rem;
            height: 5rem;
            line-height: 5rem;
            display: block;
        }

        nav {
            width: 100%;
            margin-top: 5rem;
        }

        nav > ul > li {
            display: block;
        }
        nav > ul > li > a {
            flex-direction: row;
            padding: 0 1.5rem;
            justify-content: flex-start;
            height: 5rem;

            span {
                margin-top: 0;
                margin-left: 0.75rem;
                font-size: 1rem;
            }
        }
    }

    .navigation.called {
        visibility: visible;
        left: 0px;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
    }
}

@media (max-width : 1000px) {
    .today_report_top_chart_wrap {
        > .flex_flow_row {
            flex-direction: column;

            > div {
                width:100%;
            }
        }


    }
}

@media (max-width: 850px){
    .today_report_top_chart_wrap .float_item_container .width_6_10 {
        width: 100%;
        float: none;
    }

    .chart_holder {
        position: relative;
        width: 100%;
        text-align: center;


        canvas {
            max-height: 24rem !important;
            max-width: 24rem !important;
            margin: auto;
        }
    }
}

@media only screen and (max-width : 767px)  { 
    .filter_container h2 {
        padding-left: 2.5rem;
    }
    .search_pop > div {
        width: calc(100% - 5rem);
    }
    .top_bottom_thin_block_padding {
        padding: 2.5rem;
    }
    .block_padding, .line_chart_holder {
        padding: 3rem;
    }
    .full_height_container {
        display: flex;
        border-radius: none;
        max-width: 100%;

        .login {
            background: transparent;
            padding: 80px 40px;
        }
    }
    footer > div {

    }

    span.close_menu {
        display: block;
    }
    .navigation {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100%;
        width: 320px;
        z-index: 2;
        top: 0;

        visibility: hidden;
        left: -320px;
        transition: all 0.15s ease-out;
    }

    .navigation.called {
        visibility: visible;
        left: 0px;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
    }

    header span.hid_menu {
        display: block;
    }
    .main_pagefull_height_container {
        display: block;
    }

    .block_padding {
        padding: 2.5rem;
    }
    .date_range {
        width: 100% !important;
        float: none;
        margin-bottom: 1rem;

    }



    .today_report_top h2,
    .filter_container h2 {
        font-size: 1.3rem;

    }

    .line_chart_holder h2 {
        font-size: 1.3rem;
    }

    .today_report_top .today_date {
        font-size: 1.25rem;
    }
}


@media only screen and (max-width : 600px)  { 

    .filter_container h2 {
        height: 4rem;
        line-height: 4rem;
    }

    .search_pop .close_search_pop {
        width: 4rem;
        height: 4rem;
    }
    footer {
        &.block_padding_mid {
            padding: 1.25rem;

            .flex_flow_row {
                justify-content: center;
                flex-direction: column;

                > div {
                    width: 100%;
                    justify-content: center;

                    &:nth-last-of-type(1){
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }

    .search_pop > div {
        width: calc(100% - 2.5rem);
    }

    .today_report_top {
        > .flex_flow_row {
            flex-direction: column;

            > div {
                width: 100%;

                &:nth-last-of-type(1){
                    align-items: flex-start;
                    padding-top:0.5rem;
                    margin-top: 0.5rem;
                    border-top: 1px solid rgba(255,255,255,0.1);

                    .today_date {
                        text-align: left;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
    .today_report_top h2, .generated_report h2 {
        font-size: 1.3rem;

    }
    header {
        > img {
            content: url("../img/logo_only.png");
            max-width: 3rem;
        }
    }

    .block_padding, .line_chart_holder {
        padding: 1.25rem;
    }

    .ui-datepicker {
        left: 25px !important;
        width: calc(100% - 50px);
    }

    .ui-datepicker select.ui-datepicker-month,
    .ui-datepicker select.ui-datepicker-year {
        width: calc(44% - 10px);

    }
}

@media only screen and (max-width: 480px) {
    .filter_container h2 {
        padding-left: 1.5rem;
    }
    .filter_container select {
        padding: 12px 40px 12px 12px;
    }

    .filter_container {
        input[type='tel'], input[type='text'],input[type='password'],input[type='email'],input[type='date'] {
            padding: 12px;
        }
    }

    .top_bottom_thin_block_padding {
        padding: 1.5rem;
    }

    .form-horizontal{
        > div >.flex_flow_row.has_gap_between_block {

            flex-direction: column;

            > div {
                width: 100%;
            }
        }
    }   
}

@media only screen and (max-width: 375px) {
    .confirm_logout {
        width: 100%;
    }

    .line_chart_holder > .flex_flow_row {
        flex-direction: column;

        > div {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 320px) {
    .ui-datepicker {
        left: 0 !important;
        width: 100%;
    }


}


