<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.0.xsd        
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
     

    <!-- ECSO Reseller -->
    <bean id="icDao" class="com.ecso.reseller.dao.impl.itemCategoryDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>   
    
    <bean id="idDao" class="com.ecso.reseller.dao.impl.itemDetailDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>      

    <bean id="userDao" class="com.ecso.reseller.dao.impl.userDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>  

    <bean id="orderItemDao" class="com.ecso.reseller.dao.impl.itemOrderDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>  

    <bean id="stateDao" class="com.ecso.reseller.dao.impl.stateDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean> 

    <bean id="contactDetailsDao" class="com.ecso.reseller.dao.impl.contactDetailsDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean> 

    <bean id="manageOrderDao" class="com.ecso.reseller.dao.impl.manageOrderDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean> 

    <bean id="icService" class="com.ecso.reseller.service.impl.itemCategoryServiceImpl">
    
    </bean>    
    
    <bean id="idService" class="com.ecso.reseller.service.impl.itemDetailServiceImpl">
    
    </bean>     

    <bean id="userService" class="com.ecso.reseller.service.impl.UserDetailServiceImpl">
    
    </bean>     

    <bean id="orderItemService" class="com.ecso.reseller.service.impl.itemOrderServiceImpl">
    
    </bean>     

    <bean id="stateService" class="com.ecso.reseller.service.impl.stateServiceImpl">
    
    </bean>     
    
    <bean id="manageOrderService" class="com.ecso.reseller.service.impl.manageOrderServiceImpl">
    
    </bean>        
    <!-- End -->
 		
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
        <bean id="dataSource" class = "com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
	<property name="driverClass" value="${driver}"/>
	<property name="jdbcUrl" value="${url}"/>
	<property name="username" value="${username1}"/>
	<property name="password" value="${password1}"/>
	<property name="idleConnectionTestPeriodInMinutes" value="${connectionTestPeriod}"/>
	<property name="maxConnectionsPerPartition" value="${maxconnection}"/>
	<property name="minConnectionsPerPartition" value="${minconnection}"/>
	<property name="partitionCount" value="${partitioncount}"/>
	<property name="connectionTestStatement" value="${testStatement}"/>
	</bean>

        
</beans>